.main-container{
	display: block;
	margin: 0 auto;
	max-width: 500px
}
.title-container{
	display: block;
	max-width: 500px;
	margin: 0 auto;
}
h1{
	display: block;
	margin-top: 132px;
	margin-bottom: 60px;
}
